@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
  }
  .logo{
    color: rgb(0,123,255);
    font-size: 20px;
    font-weight: bolder;
    padding-top: 10px;
    padding-left: 10px;
  }
  .main{
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 10px;
  }
  .box{
    margin-top: 100px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    gap: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 1px solid rgb(172, 172, 172); */
    border-radius: 8px;
    width: 500px;
  }
  .heading{
    font-size: 22px;
    font-weight: 500;
    color:#000000;
  }
  .para{
    font-size: 14px;
    color: rgb(80, 80, 80);
  }
  .btn{
    margin-top: 5px;
    width: max-content;
    background-color: #DC3545;
    border-radius: 4px;
    color: white;
    padding: 5px;
    cursor: pointer;
    padding: 5px 30px;
  }
  a{
    text-decoration: none;
    text-align: center;
    font-size: 14px;
  }