

/* main */
*, *:before, *:after {
    box-sizing: border-box;
    
  }
  
 
   button, input {
    
    font-weight: 700;
    letter-spacing: 1px;
  }
  
  .background {
    display: flex;
    min-height: 100vh;
    padding-top: 50px;
  }
  
  .container {
    flex: 0 1 900px;
    margin: 10px auto;
    padding: 10px;
  }
  
  .screen {
    
    background: #1496BB;
    border-radius: 15px;
  }
  
  .screen-body {
    display: flex;
    flex-wrap: wrap;
  }
  
  .screen-body-item {
    flex: 1 400px;
    padding: 50px;
  }
  @media (max-width: 768px) {
    .screen-body-item {
        padding-bottom: 60px;
    }
  }
  .screen-body-item.left {
    display: flex;
    flex-direction: column;
  }
  
  .app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #ffffff;
    font-size: 26px;
    margin-bottom: 20px;
  }
  
  .app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0px;
    width:70%;
    height: 4px;
    background: #ffffff;
  }
  
  .app-contact {
    margin-top: 5px;
    font-size: 11px;
    color: #ffffff;
  }
  
  .app-form-group {
    margin-bottom: 15px;
    max-width: 600px;
    width: 100%;
  }
  
  .app-form-group.message {
    margin-top: 40px;
  }
  
  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }
  
  .app-form-control {
    width: 100%;
    padding: 10px ;
    background: none;
    border: none;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    font-size: 14px;
    /* text-transform: uppercase; */
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
    color: #000000;
  }
  
  .app-form-control:focus {
    border-bottom-color: #ddd;
  }
  
  .app-form-button {
    background: none;
    border: none;
    color: #000000;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    border: 1px solid white;
    margin-top: 10px;
    margin-right: 5px;
    max-width: 100px;
    padding: 4px 6px;
    border-radius: 8px;
  }
  
  .app-form-button:hover {
    color: #ffffff;
    border: 1px solid black;
  }
  .app-form-control select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    color: #000000;
  }
  .app-form-control option{
    color: #000000;
  }
  .select{
    color:black;
    font-weight: bold;
    letter-spacing: 2px;
  }


