@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
  }
  body{
    min-height: 100vh;
    /* background-image: url('../assets/Header.png'); */
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Poppins" , sans-serif;
  }

  /* nav bar */
  nav{
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
    width: 100%;
    position: fixed;
    top: 0;
  }
  .mainlogo{
    color: rgb(0,123,255);
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    justify-content:flex-end;
    align-items: center;
  }
  nav .mainlogo:hover{
    background-color: white ;
  }
  .mainlogo img{
    max-width: 190px;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
  }
  .mainlogo{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  nav li{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav a{
    font-weight: 500;
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    font-size: clamp(16px,3vw,16px);
  }
  nav a:hover{
    background-color: #e7e7e7;
  }
  nav .login div{
    
    cursor: pointer;
    transition: all 200ms ease-in-out;
    padding: 5px 10px;
    color: whitesmoke;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #fc6933;
  }
  nav a.login:hover{
    background-color: white;
  }
  nav li:first-child{
    margin-right: auto;
  }
  .sidebar{
    position: fixed;
    
    top: 0; 
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: white;
    /* background-color: rgba(159, 155, 155, 0.15); */
    /* backdrop-filter: blur(12px); */
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.1);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 20;
  }
  .sidebar li{
    width: 100%;
  }
  .sidebar a{
    width: 100%;
  }
  .fa-xmark, .fa-bars{
    font-size: 22px;
  }
  .menu-button{
    display: none;
  }
  @media(max-width: 800px){
    .hideOnMobile{
      display: none;
    }
    .menu-button{
      display: block;
    }
  }
  @media(max-width: 400px){
    .mainlogo img{
      max-width: 180px;
      width: 100%;
    }

    .sidebar{
      width: 100%;
    }
  }


  /* custom notiofication */
.kikiNotification {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  width: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  z-index: 1000;
}

.kikiNotificationContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.kikiNotification button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #4CAF50; /* Green color for OK button */
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
}

.kikiNotification button:hover {
  background-color: #45a049; /* Darker green on hover */
}
