@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
/* notification */
.main-notification{
  display: none;
}
.notification{
  overflow-y: auto;
  position: fixed;
  z-index: 20;
  top: 55px;
  right: 30px;
  background-color: #FBF5F3;
  margin: 5px;
  max-height: 400px;
  height: 100%;
  max-width: 300px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2px;
  border-radius: 10px;
  color: #140551;
}
.notification::-webkit-scrollbar {
  width: 5px;               /* width of the entire scrollbar */
}
.notification::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);        /* color of the tracking area */
}

.notification::-webkit-scrollbar-thumb {
  background-color: #088994;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid rgb(112, 112, 112);  /* creates padding around scroll thumb */
}
.notification .notify-heading{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  padding-top: 10px;
  padding-left: 10px;
}

.notification .notify-heading>span{
  font-size: 16px;
  padding: 5px;
  text-decoration: underline;
  font-weight: 500;
}
.notification .single-block{
  width: 100%;
  height: 80px;
  border-bottom: 1px solid grey;
  display: flex;
  align-items:start ;
  justify-content: flex-start;
  gap: 8px;
  padding: 10px;
}
.notification .icon-block{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}
.notification .icon-block>i{
  background-color: #c1c1c1;
  padding: 5px;
  border-radius: 50%;
}
.notification .icon-block .red-dot{
  border: 1px solid red;
  background-color: red;
  padding: 3px;
  border-radius: 50%;
}
.red-dot.hidden {
  display: none;
}

.notification .single-block .notify-block{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.notify-block .notify-block-head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.notify-block-head .notified-heading{
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
.notify-block-head>div{
  display: flex;
  gap: 8px;
  font-size: 12px;
  color: grey;
}
.single-block .notify-block-body{
  font-size: 12px;
}

/* navbar */
.upper-navbar {
    background-color: #ffffff;
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100; 
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

  }
  .upper-navbar .menu-bar{
    display: none;
  }

  .upper-navbar .mainlogo img{
    max-width: 190px;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
  }
  .upper-navbar .mainlogo{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .upper-navbar .notify i{
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    color: #140551;
  }
  .upper-navbar .notify i:hover{
    background-color: #FBF5F3;
  }

  @media (max-width:768px) {
    .upper-navbar .menu-bar{
      display: block;
    }
  }

.sidebar{
  position: fixed;
  left: 0;
  top: 50px;
  height: 100vh;
  width: 78px;
  background:#FBF5F3;
  overflow-x: hidden;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
  scrollbar-width: none;
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
#sidebar::--webkit-scrollbar {
	display: none;}
.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 25px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: #140551;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 10px;
  height: 100%;
}
.sidebar li{
  position: relative;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.2s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}

.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
 
}
.sidebar li a:hover{
  background: #FFC107;
}
.sidebar li a .links_name{
  color: #090454;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  /* color: #fee9924e; */
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile{
  /* position: fixed; */
  height: 150px;
  width: 78px;
  left: 0;
  
  padding: 5px;
  
  background: #FBF5F3;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile{
  width: 250px;
}
.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 5px;
}
.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job{
  font-size: 15px;
  font-weight: 400;
  color: #08025f;
  white-space: nowrap;
}
.sidebar li.profile .job{
  font-size: 12px;
}
.sidebar .profile #log_out{
  position: absolute;
  top: 60%;
  right: 0;
  transform: translateY(-50%);
  padding-top: 0px;
  padding-bottom: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 25px;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
#log_out{
  cursor: pointer;
}
.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}
@media (max-width:768px) {
  .sidebar{
    opacity: 0;
    height: 100vh;
  }
  .sidebar #btn{
    display: none;
  }
  .home-section{
      position: relative;
      left: 0;
      max-width: 100%;
      width: 100%;
  }
  .sidebar.open{
    opacity: 5;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
