

/* Main Content */
.home-section{
  position: relative;
  background: #ffffff;
  min-height: 100vh;
  top: 0;
  left: 78px;
  max-width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
  overflow-y: auto;
  
  
}
/* .sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
  
 
} */


/* main  from here*/
.right{
    margin: 10px;
    margin-top: 55px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 10px;
    margin-right: 5px;
}
@media (max-width:768px) {
  .right{
    margin-right: 10px;
  }
}
.right>p{
    padding: 10px;
  font-size: 16px;
  font-size: clamp(16px,3vw,16px);
  font-weight: 600;
  color: #000000;
}
.category{
    margin: 20px; 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.para{
  font-size: 14px;
  margin-left: 10px;
}
.category>div{
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
}
.category>div>img{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    position: relative;
    left: 60px;
    object-fit: cover;
}
.category>div>label{
    height: max-content;
    width: 90%;
    padding: 10px 15px;
    position: relative;
    bottom: 30px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    font-size: 13px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    font-weight: bold;
}
.category {
  position: relative; /* Ensure the parent element is positioned */
}

.next {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#next {
  background-color: rgb(41, 41, 187);
  border-radius: 10px;
  border: 1px solid rgb(41, 41, 187);
  display: flex; /* Ensure the button behaves as a flex container */
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
}
#next a{
  text-decoration: none;
}
#next i {
  color: white;
}

#next:hover {
  border: 1px solid rgb(237, 221, 221);
}

/* Fix the button at the bottom of the screen in mobile view */
@media (max-width: 768px) {
  .next {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 1000;
  }

  .next.scroll-out {
    position: absolute; /* Change to absolute when leaving .category */
    bottom: auto;
    top: 100%; /* Ensure it moves with the .category boundary */
    right: 10px;
  }
}

.category>button>i{
    color: white;
}
.disabled {
  color: gray; /* Change color to indicate it's disabled */
  pointer-events: none; /* Disable click events */
}


