

/* Main Content */
.home-section{
  position: relative;
  background: #ffffff;
  min-height: 100vh;
  top: 0;
  left: 78px;
  max-width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
  overflow-y: auto;
  
}



/* right */
/* right content */
.right{
    margin: 10px;
    padding: 1%;
    margin-right: 5px;
    margin-top: 55px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 10PX;
}
@media (max-width:768px) {
    .right{
        margin-right: 10px;
    }
}


.pricing-container {
    display: flex;
    flex-wrap: wrap;
    /* gap: 10px; */
    justify-content: space-between;
}

.plan-head{
    font-size: 20px;
    margin-bottom: 40px;
}
.head1{
    font-weight: 500;
    text-align: center;
    width: 100%;
   
}
.head2{
    font-weight: 600;
    text-align: center;
}
.pricing-plan {
    
    background-color: white;
    border: 1px solid #c0c0c0;
    border-radius: 16px;
    overflow: hidden;
    gap: 20px;
    max-width: 300px;
    width: 100%;
    text-align: center;
    box-shadow: rgba(3, 3, 3, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.pricing-plan:hover{
    position: relative;
    /* top: -10px; */
    transform: translateY(-20px);
    box-shadow: rgb(50, 79, 93) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
@media (max-width:768px) {
    .pricing-container{
        display: flex;
        justify-content: center;
        gap: 40px;
    }
    .pricing-plan:hover{
        position: relative;
        top: 0px;
        transform: scale(1.05);
        box-shadow: rgb(50, 79, 93) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }
}
.plan-box {
    /* padding: 5px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 12px;
}

.h2{
    font-size: 16px;
    margin: 5px auto;
    padding:6px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 2px solid #56789e;
    width: 160px;
}

.adv-box{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
}
.adv{
    display: flex;
    color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 8px;
    padding-left: 10px;
    justify-content: flex-start;
    gap: 5px;
    align-items: center;
    max-width: 170px;
    text-align: left;
    width: 100%;
    right: 0;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid black;
    background-color: #007aff;
}
.adv span{
    font-size: 12px;
    color: #ffffff;
    font-weight: 500;
}
.plan-details {
    margin-top: 10px;
    /* margin-bottom: 10px; */
    width: 100%;
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    justify-content: space-around;
    height: 280px;
}

.plan-item {
   display: flex;
   align-items: flex-start;
   gap: 10px;
   width: 100%;
}

.plan-item p{
    text-align: left;
}
.format{
    display: flex;
    flex-direction: column;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.adscon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    
}
.adscon i{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 50%;
    padding: 8px;
    font-size: 10px;
    height: 20px;
    width: 20px;
}
.icon {
    width: 15px;
    height: 15px;
    padding: 10px;
    background-color: #007aff;
    color: rgb(255, 255, 255);
    border-radius: 0px;
    border: 2px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.plan-item p {
    margin: 0;
    font-size: 14px;
}

.buy-now {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 1px solid black;
    padding: 6px 2px;
    border-radius: 10px;
    cursor: pointer;
    width: 92%;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 500;
    width: 180px;
}

.buy-now:hover {
    background-color: #007aff;
    color: white;
}


.last{
    margin-bottom: 20px;
}
.last .heading {
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px;
}
.feature {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5px;
    flex-wrap: wrap;
    gap: 20px;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    width: 100%;
}
.image img{    
    width: 20%;
    object-fit: cover;
}
.box p{
    text-align: center;
    font-size: 12px;
}
.box .para{
    margin-top: 5px;
    font-size: 14px;
}
