@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
  }

  /* navbar */
  
   nav{
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
    width: 100%;
    position: fixed;
    top: 0;
  }
  .main-logo{
    color: rgb(0,123,255);
    font-size: 20px;
    font-weight: bolder;
  }
  nav .main-logo:hover{
    background-color: white ;
  }
  nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  nav li{
    height: 50px;
  }
  nav a{
    font-weight: 500;
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    font-size: clamp(16px,3vw,16px);
  }
  nav a:hover{
    background-color: #e7e7e7;
  }
  nav .login div{
    
    cursor: pointer;
    transition: all 200ms ease-in-out;
    padding: 5px 10px;
    color: whitesmoke;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #fc6933;
  }
  nav a.login:hover{
    background-color: white;
  }
  nav li:first-child{
    margin-right: auto;
  }
  .sidebar{
    position: fixed;
    
    top: 0; 
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: white;
    /* background-color: rgba(159, 155, 155, 0.15); */
    /* backdrop-filter: blur(12px); */
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.1);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 20;
  }
  .sidebar li{
    width: 100%;
  }
  .sidebar a{
    width: 100%;
  }
  .menu-button{
    display: none;
  }
  @media(max-width: 800px){
    .hideOnMobile{
      display: none;
    }
    .menu-button{
      display: block;
    }
  }
  @media(max-width: 400px){
    .sidebar{
      width: 100%;
    }
  }
   /* nav bar */

  .main{
    margin: 10px;
    padding: 10px;
    padding-top: 50px;
    
  }
  .term-main{
    margin: 10px;
    padding: 10px;
    line-height: 24px;
    letter-spacing: 0.2px;
  }
  .term-main h1{
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    /* padding: 5px 6px;
    background-color: whitesmoke;
    width: max-content;
    margin: auto; */
  }
  hr{
    margin: 15px 0;
  }
  .termhead{
    font-size: 16px;
    font-weight: 600;
  }
  .termsubhead{
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
  }
  .termpara{
    padding:5px 10px;
    font-size: 14px;
  }
  .textbox ul{
    margin-left: 20px;
    padding-left: 20px;
    font-size: 14px;
  }
  .textbox ol{
    margin-left: 20px;
    padding-left: 20px;
    font-size: 14px;
  } 

  